.bg-cont1 {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}

.bg-cont2 {
  background-color: #cffafe;
  background-size: cover;
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image1 {
  height: 100px;
  width: 100px;
}

.para-name {
  font-size: 20px;
}

.image2 {
  height: 150px;
  width: 100px;
}
